<app-navbar></app-navbar>
<div class="container">

    <div class="row">

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Product Name</label>

                    <input name="productname" [(ngModel)]="productname" type="text" class="form-control">

                </div>

           

            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xl-12 col-xxl-12 text-center">

                <button (click)="readValue()" class="btn btn-success">Search</button>

            </div>

        </div>
        
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of fetchsearch" >
                        <td>{{i.img}}</td>
                        <td>{{i.category}}</td>
                        <td>{{i.des}}</td>
                        <td>{{i.price}}</td>
                      </tr>
                      
                    </tbody>
                  </table>


        </div>

        </div>

</div>
    </div>



